# Konfigurasi Keamanan Django
DEBUG=True
SECRET_KEY=isi_dengan_secret_key_django_kamu

# Konfigurasi Database PostgreSQL
DB_NAME=smartchurch_db
DB_USER=postgres
DB_PASSWORD=masukkan_password_pgadmin_kamu_disini
DB_HOST=127.0.0.1
DB_PORT=5432